.otp-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f6f9fc;
  padding: 20px;
}

.otp-card {
  background: white;
  padding: 30px 25px;
  width: 100%;
  max-width: 380px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  text-align: center;
}


.otp-input {
  width: 60%;            
  margin: 0 auto;        
  height: 50px;
  font-size: 18px;
  letter-spacing: 2px;
  text-align: center;
  display: block;        
}

/* Button remains full width */
.verify-btn {
  width: 100%;
  height: 45px;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-top: 15px;      
}

.resend {
  font-size: 14px;
  color: #666;
  margin-top: 10px;
}

.resend-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}
